html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="lName"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control:focus {
    color: #0b9444;
    background-color: #adf8cc;
    border-color:#0b9444;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(64, 244, 112, 0.5);
}

.btn {
    background-color: #0b9444;
    border-color: #0b9444;
    color: #fff;
}

input {
  border-color: #0b9444
}


.btn:hover {
    background-color: #fff;
    color: #0b9444;
    border-color: #0b9444;
}

input:focus {
    color: #0b9444;
    background-color: #fff;
    border-color: #79fcaf;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(64, 244, 112, 0.5);
}